<!------------------------------- About page ----------------------------->
    <div class="section" id="about">
        <div class="container1">
            <div class="title">
                <h1 class="centerHeading">About Us</h1>
            </div>
            <div class="content">
                <div class="article">
                    <h3>Aatithya, meaning "hospitality," reflects our core philosophy of welcoming every
                        guest with warmth and care. At Aatithya, we offer a unique blend of Punjabi, Chinese,
                        and Continental cuisines, crafted with love and served with pride. Whether you crave the
                        rich spices of Punjabi dishes, the bold flavors of Chinese stir-fries, or the refined tastes
                        of Continental fare, we have something to delight every palate.
                    </h3>
                    <p>With a focus on great food, attentive service, and a cozy, inviting ambiance, Aatithya is
                        the perfect spot for a memorable dining experience. Our team ensures
                        every visit feels special, providing exceptional service in a relaxed,
                        stylish setting. Come to Aatithya and enjoy delicious meals in an atmosphere where
                        hospitality meets culinary excellence!</p>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                </div>
            </div>
            <div class="image-section">
                <img src="./image/n.jpg" alt="">
            </div>
            <div class="social">
                <!-- <a href="https://www.instagram.com/atithya_banquet_and_restaurant?igsh=YnJhNnNmN2p1OW0z "><i class="fab fa-instagram"></i></a>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfmqxGVNqLvKjmwLTRSRDCktNgHNFbCHWVDVzVLmVPvHfzHQSXjwlTpnkHFqqvQPNMpQVV"><i class="fas fa-envelope"></i></a>
                <a href="https://maps.app.goo.gl/kcYRN4SScTtHHZ5a7"><i class="fas fa-map-marker-alt"></i></a> -->
            </div>
        </div>
    </div>