

<div class="container swiper">
    <div class="main-page"><h1 style="margin-top: 40px;">Gallery of Aatithya Banquet & Restaurent</h1></div>
    <div class="card-wrapper">
      <!-- Card slides container -->
      <ul class="card-list swiper-wrapper">
        <li class="card-item swiper-slide">
          <a href="image/b.jpg" onclick="currentSlide()" class="card-link">
            <img src="image/b.jpg" alt="Card Image" class="card-image">
            <h2>All Images</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="../../image/B1.jpg" class="card-link">
            <img src="../../image/B1.jpg" alt="Card Image" class="card-image">
            <h2>Banquet Images</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="../../image/B2.jpg" class="card-link">
            <img src="../../image/B2.jpg" alt="Card Image" class="card-image">
            <h2>Restaurent Images</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="image/B3.jpg" class="card-link">
            <img src="image/B3.jpg" alt="Card Image" class="card-image">
            <h2>panjabi food Images</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="image/B4.jpg" class="card-link">
            <img src="image/B4.jpg" alt="Card Image" class="card-image">
            <h2>chinese food Images</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="image/B5.jpg" class="card-link">
            <img src="image/B5.jpg" alt="Card Image" class="card-image">
            <h2>continenal food Images</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
      </ul>
       <!-- Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Navigation Buttons -->
      <div class="swiper-slide-button swiper-button-prev" style="margin-top: 20px;"></div>
      <div class="swiper-slide-button swiper-button-next" style="margin-top: 20px;"></div>
    </div>
  </div>