<div class="side-nav-content" >

    <ul class="nav-list border-brown">
        <li class="nav-list-item border-brown">
            <a routerLink="/home">
                <span class="i border-brown"><i class='fas fa-home'></i></span>
                <span class="a">Home</span>
            </a>
        </li>
        <li class="nav-list-item border-brown">
            <a routerLink="/about-us">
                <span class="i border-brown"><i class="fa-solid fa-circle-info"></i></span>
                <span class="a">About-us</span>
            </a>
        </li>
        <li class="nav-list-item border-brown">
            <a routerLink="/food-type">
                <span class="i border-brown"><i class='fas fa-list'></i></span>
                <span class="a">Food-type</span>
            </a>
        </li>
        <li class="nav-list-item border-brown">
            <a routerLink="/banquet">
                <span class="i border-brown"><i class='fas fa-couch'></i></span>
                <span class="a">Banquet</span>
            </a>
        </li>
        <li class="nav-list-item border-brown">
            <a routerLink="/restaurant">
                <span class="i border-brown"><i class="fa-solid fa-utensils"></i></span>
                <span class="a">Restaurent</span>
            </a>
        </li>
        <li class="nav-list-item border-brown">
            <a routerLink="/contact-us">
                <span class="i border-brown"><i class="fa-solid fa-phone"></i></span>
                <span class="a">Contact-us</span>
            </a>
        </li>
        <li class="nav-list-item border-brown">
            <a routerLink="/gallery">
                <span class="i border-brown"> <i class="fa-solid fa-image"></i></span>
                <span class="a">Gallery</span>
            </a>
        </li>
        <li class="nav-list-item border-brown" style="margin-top: 180px;">
            <a (click)="logout()">
                <span class="i border-brown"><i class="fa-solid fa-right-from-bracket"></i></span>
                <span class="a">Logout</span>
            </a>
        </li>
    </ul>

</div>