<!-- types of food -->
<section id="food">
    <div class="hello">
        <h2>Category Of Food</h2>
    </div>
    <div class="parent">
        <div class="container4">
            <div class="boxt">
                <img src="./image/panner butter masala.png" alt="error" />

                <div class="img-content_t">
                    <span class="my-text">Punjabi</span>
                </div>
            </div>
            <div class="boxt">
                <img src="./image/Manchurian dish.png" alt="error" />

                <div class="img-content_t">
                    <span class="my-text">Chinese</span>
                </div>
            </div>
            <div class="boxt">
                <img src="./image/baked spaghetti with pineapple.png" alt="error" />

                <div class="img-content_t">
                    <span class="my-text">Continental</span>
                </div>
            </div>
        </div>
    </div>
</section>