<nav class="navbar navbar-expand navbar-dark bg-cream px-2">

    <div class="side-nav-button me-3 text-light d-flex justify-content-between">
        <i class="fa-solid fa-bars" style="color: brown" (click)="SideNavToggle()"></i>
        <img src="../../image/aatithy logo1-01.png" alt="" style="height: 50px; width: 180px; margin-left: 30px;">
    </div>
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
     <i class="fa-solid fa-right-from-bracket logout" style="color: brown; font-size:20px; margin-right:40px;"></i>
    </ul>
</nav>