<!-- banquet  -->
<section id="banquet">
    <div class="hello">
        <h2>Banquet Details</h2>
    </div>
    <div class="parent">

        <div class="container3">
            <div class="box">
                <img src="./image/b.jpg" alt="error" />

                <div class="img-content">
                    <span class="my-text">Banquet Menu</span>
                </div>

            </div>
        </div>
        <div class="container3">
            <div class="box1">
                <img src="./image/B5.jpg" alt="error" />
            </div>
            <div class="box1">
                <img src="./image/B4.jpg" alt="error" />
            </div>
            <div class="box1">
                <img src="./image/B3.jpg" alt="error" />
            </div>
            <div class="box1">
                <img src="./image/B1.jpg" alt="error" />
            </div>
        </div>
    </div>
</section>
<!-- end banquet -->
<!---------Restaurant--------->
<section id="banquet1">
    <div class="hello">
        <h2 class="R">Restaurant Details</h2>
    </div>
    <div class="parent">

        <div class="container3">
            <div class="box">
                <img src="./image/b.jpg" alt="error" />

                <div class="img-content">
                    <a routerLink="Menu"><span class="my-text">Restaurant Menu</span></a>
                </div>

            </div>
        </div>
        <div class="container3">
            <div class="box1">
                <img src="./image/B5.jpg" alt="error" />
            </div>
            <div class="box1">
                <img src="./image/B4.jpg" alt="error" />
            </div>
            <div class="box1">
                <img src="./image/B3.jpg" alt="error" />
            </div>
            <div class="box1">
                <img src="./image/B1.jpg" alt="error" />
            </div>
        </div>
    </div>
</section>
<!-----end Restaurant--------->