<section id="contact">
  <div class="hello">
      <h2 class="R">Contact Us</h2>
  </div>
  <div class="container6">
      <span class="big-circle"></span>
      <img src="./image/shape.png" class="square" alt="" />
      <div class="form">
          <div class="contact-info">
              <h3 class="title">Let's get in touch</h3>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolorum adipisci recusandae praesentium dicta!</p>
              <div class="info">
                  <img src="../../image/b.jpg" alt="" style="height: 200px; width: 220px; margin-left: 50px; border:3px solid brown ; border-radius: 20px; box-shadow: 2px 2px 2px 2px black;">
              </div>
              <div class="social-media">
                  <h4 class="text2">Connect with us :</h4>
                  <div class="social-icons">
                      <a href="#"><i class="fa-solid fa-phone" style="color: #f7f7f7;"></i></a>
                      <a href="#"><i class="fa-solid fa-location-dot" style="color: #f7f7f7;"></i></a>
                      <a href="#"><i class="fab fa-instagram" style="color: #f7f7f7;"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
          <div class="contact-form">
              <span class="circle one"></span>
              <span class="circle two"></span>
              <form>
                  <h3 class="title">Contact us</h3>
                  <div class="input-container">
                      <input type="text" name="name" class="input" />
                      <label for="">Username</label>
                      <span>Username</span>
                  </div>
                  <div class="input-container">
                      <input type="email" name="email" class="input" />
                      <label for="">Email</label>
                      <span>Email</span>
                  </div>
                  <div class="input-container">
                      <input type="tel" name="phone" class="input" />
                      <label for="">Phone</label>
                      <span>Phone</span>
                  </div>
                  <div class="input-container textarea">
                      <textarea name="message" class="input"></textarea>
                      <label for="">Message</label>
                      <span>Message</span>
                  </div>
                  <button class="send-button">Send</button>
              </form>
          </div>
      </div>
  </div>
</section>